@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: #fff;
  --grey-text: #4D4D4D;
  --white: #fff;
  --off-white: #FEFAFB ;
  --orange: #BF5428;
  --green: #2E5761;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  color: var(--grey-text);
}
::placeholder {
  color: var(--grey-text);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--grey-text);
}
.input_search::before {
  content: '';
  width:15px;
  height:15px;
  background-color: var(--green);
  transform: translate(100%);
}
.hero {
  background-image: url("../public/hero_bg_img.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_img {
  background-image: url("../public/bg_mask.png");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
.left_btn, .right_btn {
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  border: 1.5px solid var(--orange);
  transition: all 300ms ease;
}
.left_btn, .right_btn:hover {
  background-color: var(--white);
  color: var(--orange);
}
.right_btn, .left_btn:hover {
  background-color: var(--orange);
  color: var(--white);
}
.product_card::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  border-left: 3px solid var(--green);
  border-top: 3px solid var(--green);

  border-radius: 4px;
  background-color: var(--off-white);
  z-index: 5;
  transform: translate(0.5%, -168%);
}

/* --------------------------stats------------------------ */
.stats_symbol {
  transform: translate(9%, 60%);
}

@media screen and (min-width: 750px ){
  .product_card::after {
    transform: translate(1%, -167%);
  }
}
@media screen and (min-width: 760px ){
  .product_card::after {
    transform: translate(1%, -190%);
  }
}
@media screen and (min-width: 1024px ){
  .product_card::after {
    transform: translate(1%, -238%);
  }
}

/* -------------products page */


.hero_vector {
  width: 95.2px;
  height: 107.06px;
  top: 260px;
  left: 928.2px;
  gap: 0px;
  border: 2.4px 0px 0px 0px;
  opacity: 0px;
  angle: -180 deg;
}